/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important; /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: auto;
    font-family: 'Questrial', sans-serif;
    font-size:22px;
}

.body-oscuro {
    background-color: #37474f /*{a-bar-background-color}*/;
	border-color: #37474f /*{a-bar-border}*/;
	color: #eceff1 /*{a-bar-color}*/;
	/* font-weight: bold; */
}

.body-claro {
	background-color: #e9e9e9 /*{b-bar-background-color}*/;
	border-color: #dddddd /*{b-bar-border}*/;
	color: #333333 /*{b-bar-color}*/;
	/* font-weight: bold; */
}

#divGap {
    height: 5vh;
    display: block;
    background-color: #333333;
}

#divVer,
#divConfigurar,
#divInformacion {
    display: none;
}

#divConfigurar,
#divInformacion {
    text-align: center;
}

#lstRegistros {
    list-style: none;
    padding-left: 0;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga=1';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
  }

.tamano-icono-barra {
    font-size: 30px;
}

.color-icono-barra {
    color: #37474f;
}

.form-control {
    border: 1px solid #333333;
    border-radius: 30px;
    box-shadow: none;
    font-size: 22px;
    padding: 10px 18px 10px 18px;    
}

.form-control-derecha {
    text-align: right;
}

.form-control-oscuro {
    background-color: #546e7a; 
    color: #eceff1;
    line-height: normal;

}

.form-control-claro {
    background-color: transparent;
    color: #333333; 
}

.form-control-select {
    padding: 6px 18px 6px 18px; 
}

.form-control-aviso {
    border-width: 2px;
    border-color: yellow;
}

.boton {
    font-weight: 400;
    font-size: .8571em;
    line-height: 1.35em;
    border: none;
}

.boton-redondo {
    border-width: 1px;
    border-radius: 30px !important;
    padding: 11px 23px;
}

.boton-redondo-ver {
    width: 100%;
    border-width: 1px;
    border-radius: 30px !important;
}

.boton-primario-oscuro {
    background-color: #8c9eff;
    color: #37474f;
}

.boton-primario-claro {
    background-color: #3388cc;
    color: #FFFFFF;
}

.boton-secundario {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select:none;
    transition: all .15s ease-in-out;
    background-color: transparent;
}

.boton-secundario-oscuro {
    color: #8c9eff;
}

.boton-secundario-claro {
    color: #37474f;
}

.boton-tipo {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
}

.boton-rojo {
    background-color: #FF3636;
    color: #FFFFFF;
}

.boton-verde {
    background-color: #18ce0f;
    color: #FFFFFF;
}

.boton-azul {
    background-color: #2CA8FF;
    color: #FFFFFF;
}

.boton-amarillo {
    background-color: #FFB236;
    color: #FFFFFF;
}

.divBotonConsultar {
    width: 25%;
    display: table-cell;
}

.barra-superior {
    padding-top: .625rem;
    padding-bottom: .625rem;
    min-height: 53px;
    margin-bottom: 10px;
}

.barra-superior-oscuro {
    box-shadow: 0px 0px 20px 0px rgb(236, 239, 241 / 15% );
    background-color: #546e7a;
}

.barra-superior-claro {
    box-shadow: 0px 0px 20px 0px rgb(51, 51, 51 / 15% );
    background-color: #e9e9e9;
}

.barra-superior-titulo {
    padding-left: 0.5rem;
}

.barra-superior-botones {
    flex-basis: 100%;
    align-items: center;
    justify-content: flex-end !important;
}

.barra-contenedor {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.barra-titulo {
    display: inline-block;
    margin-right: 5px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    line-height: 1.625rem;
    font-size: 35px;
    color: #8c9eff;
}

.barra-navegacion {
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
}

.barra-separacion {
    margin-right: 5px;
    margin-left: 5px;
}

.tarjeta-tipo {
    border-left-width: 15px;
    border-left-style: solid;
    padding-left: 10px;
    margin-bottom: 10px;
}

.tarjeta-tipo-oscuro {
    background-color: #546e7a;
	color: #eceff1;
}

.tarjeta-tipo-claro {
    background-color: #e9e9e9;
    color: #333333;
}

.registros-oscuro {
    color: #eceff1;
}

.registros-claro {
    color: #333333;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-oscuro {
    background-color: #546e7a;
}

.slider-claro {
    background-color: #eceff1;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #333333;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #888888;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #888888;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}