/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
     background-color:#333333;
/*    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed; */
    font-family: 'Questrial', sans-serif;
    font-size:22px;
    color: whitesmoke;
    height:100%;
    margin:0px;
    padding:0px;
    /* text-transform:uppercase; */
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/***** Estilos de componentes ******/

.celdaBoton {
    text-align: center;
    vertical-align: middle;
    width: 25%;
}

.boton {
    text-align: center;
     white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 1.33;
    border-color: #888888;
    border-width: 2px;
    font-size: 18px;
    border-radius: 6px;
    padding: 14px 30px;
    font-weight: 400;
    box-sizing: border-box;
}

.botonObscuro {     
    background-color:#f89924;
    color: #212121;
    opacity: 1;
}

.botonClaro {
    background-color: whitesmoke;
    color: #888888;
    opacity: 0.8;
}

.textoTabla {
    color: whitesmoke;
    font-size: 15px;
}

.campoTexto {
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    color: #444444;
    /* padding: 8px 16px; */
    height: 30px;
    box-shadow: none;
    font-size: 5vw;
}

.campoTextoError {
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    color: #444444;
    padding: 8px 16px;
    height: 30px;
    box-shadow: none;
    font-size: 5vw;
}

.textoTitulo {
    font-size: 28px;
    color: white;
}

.textoVersion {
    font-size: 24px;
    color: whitesmoke;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DDDDDD;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #333333;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #888888;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #888888;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#divGap {
    height: 5vh;
    display: block;
    background-color: #333333;
}

#divBarraOpciones {
    height: 13vh;
    display: block;
}

/* Estilos capas */
#divPrincipal {
    height: calc(100vh - 18vh);
    width: 100vw;
    background-color: #333333;
    position: absolute;
    display: block;
    z-index: 1;
}

#divAgregar {
    width: 100vw;
    display: block;
    z-index: 2;
}

#divVer {
    width: 100vw;
    height: 80vh;  
    display: none;
    z-index: 3;
}

#divVerEncabezado {
    height: 5vh;
}

#divVerTabla {
    overflow-y: scroll;
}

#divConfigurar {
    width: 100vw;
    overflow-y: scroll;
    display: none;
    z-index: 4;
    text-align: center;
    vertical-align: middle;
}

#divInformacion {
    width: 100vw;
    display: none;
    z-index: 5;
    text-align: center;
    vertical-align: middle;
    display: none;
}

/****************************** Estilos para la lista de consulta **********************************/

.cuenta-lista {
    float: left;
    text-align: center;
    width: 30%;
    padding: 0.5em;
    color: #ddd;
  }
  
  .search-box {
    float: left;
    clear: left;
    width: 70%;
    padding: 0.4em;
    font-size: 1em;
    color: #555;
    font-family: 'Questrial', sans-serif;
  }
  
  .list-count {
    float: left;
    text-align: center;
    width: 30%;
    padding: 0.5em;
    color: #ddd;
  }
  
  li {
    transition-property: margin, background-color, border-color;
    transition-duration: .4s, .2s, .2s;
    transition-timing-function: ease-in-out, ease, ease;
  }
  
  .empty-item {
    transition-property: opacity;
    transition-duration: 0s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  
  .empty .empty-item {
    transition-property: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
    transition-timing-function: ease;
  }
  
  .hiding {
    margin-left: -100%;
    opacity: 0.5;
  }
  
  .hidden { display: none; }
  
  ul {
    float: left;
    width: 100%;
    margin: 2em 0;
    padding: 0;
    position: relative;
  }
  
  li {
    float: left;
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    padding: 0.5em 0.8em;
    list-style: none;
    background-color: #f2f2f2;
    border-left: 5px solid #003842;
    cursor: pointer;
    color: #333;
    position: relative;
    z-index: 2;
    font-family: 'Questrial', sans-serif;
  }
  
  li:hover {
    background-color: #f9f9f9;
    border-color: #9bc3e9;
  }
  
  .empty-item {
    background: #fff;
    color: #ddd;
    margin: 0.2em 0;
    padding: 0.5em 0.8em;
    font-style: italic;
    border: none;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    float: left;
    clear: left;
    width: 100%;
  }
  
  .empty .empty-item {
    opacity: 1;
    visibility: visible;
  }  